body {
    background: url('https://maksroxx.github.io/cautious-potato.github.io/img/spase.gif') no-repeat center fixed;
    background-size: cover;
    /* background-size: 100%; */
    display: flex;
  justify-content: center;
  align-content:center;
  margin-top: 35vh;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 50px;
    margin-bottom: -10px;
}

.linki {
    text-align: center;
    margin-left: -40px;
}

.linki img {
    height: 55px;
}
